

.content {
  background-color: rgba(34, 9, 19, 0.17); /* Add semi-transparent white background for content */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px; /* Limit content width */
  text-align: center;
}

.body {
  font-family: 'Noto Sans Telugu', sans-serif;
}

/* Responsive Table */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 8px;
  text-align: center;
}

@media (max-width: 600px) {
  .responsive-table th,
  .responsive-table td {
    font-size: 12px;
    padding: 5px;
  }
}