

.content {
  background-color: rgba(34, 9, 19, 0.17); /* Add semi-transparent white background for content */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px; /* Limit content width */
  text-align: center;
}

.body {
  font-family: 'Noto Sans Telugu', sans-serif;
}

@media screen and (max-width: 768px) {
  .App-header {
    padding: 10px;
  }

  .App-header h1 {
    font-size: 20px;
  }

  .App-content {
    padding: 10px;
  }
}